<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Proxy Test{% endblock %}</title>
	<script src = "/static/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>

	<div id="menu">

		<h1 class="top">Menu</h1>

		{% for key, value in menu.items %}
			<h3>{{ key }}</h3>
			<ul>
			{% for v in value %}
				<li><a href={{ v }}.html class="menu_item_list">{{ v }}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
		
	</div>

	<div id="request_items">

		<h1 class="top">{% block test_items_title %}Introduce{% endblock %}</h1>
		{% block test_items_context %}
		<p>本 Web Application 用于 HTTP Proxy 测试。</p><br>

		<p>已实现部分</p>
		<p>	返回服务器收到的 HTTP 请求</p><br>

		<p>下一步实现</p>
		<p>	HTTP POST 请求</p><br>

		<p>HTTP 相关 RFC</p>
		<p>1. Message Syntax and Routing <a href=https://tools.ietf.org/html/rfc7230>[RFC7231]</a></p>
		<p>2. Semantics and Content <a href=https://tools.ietf.org/html/rfc7231>[RFC7231]</a></p>
		<p>3. Conditional Requests <a href=https://tools.ietf.org/html/rfc7232>[RFC7232]</a></p>
		<p>4. Range Requests <a href=https://tools.ietf.org/html/rfc7233>[RFC7233]</a></p>
		<p>5. Caching <a href=https://tools.ietf.org/html/rfc7234>[RFC7234]</a></p>
		<p>6. Authentication <a href=https://tools.ietf.org/html/rfc7235>[RFC7235]</a></p>
		<p>7. Hypertext Transfer Protocol Version 2 (HTTP/2) <a href=https://tools.ietf.org/html/rfc7540>[RFC7540]</a></p><br>

		<p>废弃的 HTTP RFC</p>
		<p>1. Hypertext Transfer Protocol -- HTTP/1.1 <a href=https://tools.ietf.org/html/rfc2616>[RFC2616]</a></p>
		<p>2. Use and Interpretation of HTTP Version Numbers <a href=https://tools.ietf.org/html/rfc2145>[RFC2145]</a></p>
		<p>3. Upgrading to TLS Within HTTP/1.1 <a href=https://tools.ietf.org/html/rfc2817>[RFC2817]</a></p>
		<p>4. HTTP Over TLS <a href=https://tools.ietf.org/html/rfc2818>[RFC2818]</a></p>
		<p>5. Hypertext Transfer Protocol -- HTTP/1.0 <a href=https://tools.ietf.org/html/rfc1945>[RFC1945]</a></p>


		{% endblock %}

	</div>

	<div id="request_client">

		<h1 class="top">Request Info</h1>

		<h3>TCP Connection</h3>
			<table border="1">
				<tr>
					<td>REMOTE_ADDR</td>
					<td>{{ request.REMOTE_ADDR }}</td>
				</tr>
				<tr>
					<td>SERVER_PORT</td>
					<td>{{ request.SERVER_PORT }}</td>
				</tr>
			</table>

		<h3>Request Line</h3>
			<table border="1">
				<tr>
					<td>REQUEST_METHOD</td>
					<td>{{ request.REQUEST_METHOD }}</td>
				</tr>
				<tr>
					<td>PATH_INFO</td>
					<td>{{ request.PATH_INFO }}</td>
				</tr>
				<tr>
					<td>QUERY_STRING</td>
					<td>{{ request.QUERY_STRING }}</td>
				</tr>
				<tr>
					<td>SERVER_PROTOCOL</td>
					<td>{{ request.SERVER_PROTOCOL }}</td>
				</tr>
			</table>

		<h3>Request Headers</h3>
			<table border="1">
				<tr>
					<td>CONTENT_LENGTH</td>
					<td>{{ request.CONTENT_LENGTH }}</td>
				</tr>
				<tr>
					<td>CONTENT_TYPE</td>
					<td>{{ request.CONTENT_TYPE }}</td>
				</tr>
				{% for key, value in request.items %}
				{% if key.0 == 'H' %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ value }}</td>
					</tr>
				{% endif %}
				{% endfor %}

			</table>

	</div>
	<!---
	<div id="request_server">
		<h1 class="top">Request Recieved by Server</h1>
	</div>

	<div id="response_client">
		<h1 class="top">Response Recieved by Client</h1>
	</div>

	<div id="response_server">
		<h1 class="top">Response Sent by Server</h1>
	</div>
	-->
	
	
</body>
</html>