{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block test_items_title %}{{ title }}{% endblock %}

{% block test_items_title %}
<script>
	function pathTest()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			// IE6, IE5 浏览器执行代码
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				document.getElementById("asterisk").innerHTML=xmlhttp.responseText;
			}
		}
		xmlhttp.open("POST","postTest",true);
		xmlhttp.send();
	}
</script>

<form id = "asterisk">
	Path: <button type="button" onclick="URLAsterisk()">发送请求</button>
</form>

{% endblock %}

