{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block test_items_title %}{{ title }}{% endblock %}

{% block test_items_context %}
<script>
	//获取长度为len的随机字母
	function randomLengthString(len){
		len = len || 1;

		var $chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghigklmnopqrstuvwxyz0987654321';
		var maxPos = $chars.length;

		r_str = ''

		if (len < 0){

		} else {
			for (i = 0; i < len; i++) {
			r_str += $chars.charAt(Math.floor(Math.random() * maxPos));
		};

		return r_str;
	};

	function pathLengthTest(number)
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			// IE6, IE5 浏览器执行代码
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				document.getElementById("asterisk").innerHTML=xmlhttp.responseText;
			}
		}
		xmlhttp.open("POST","postTest",true);
		xmlhttp.send();
	};
</script>

<form id = "path_length">
	Path_length: <input type="number"><p class = "info">Range:1, 12-8100</p><br>
	<input type="submit" value="发送请求">
</form>

{% endblock %}

