* {
	margin:0;
	padding:0;
	border:0;
}

/*

body {
	font-family: Arial, '微软雅黑';
	font-size: 20px;
}



.top {
	background-color: green;
	font-size: 25px;
}
*/

#menu {
	position: absolute;
	left: 0%;
	top: 0%;

	width: 15%;
	height: 100%;

	/*

	background-color: lightgrey;
	
	*/

	padding: 30px;
	padding-left: 40px;

	

}
#request_items {
	position: absolute;
	left: 15%;
	top: 0%;

	width: 55%;
	height: 100%;

	background-color: white;

	padding: 30px;
	
}
#request_info {
	position: absolute;
	left: 70%;
	top: 0%;

	width: 30%;
	height: 100%;

	/*
	background-color: lightgrey;
	*/

	padding: 30px;
	
}